:root {
    
    --fundo: #000a14;
    --fonte-clara: #fff;
    --fonte-escura: #d0d6dc;
    --enfase: #0466c8;
    
    /*
    --fundo: #390505;
    --fonte-clara: #fff;
    --fonte-escura: #d0d6dc;
    --enfase: #e5383b;
    */
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--fundo);
    color: var(--fonte-clara);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 20px 40px;
}


/* index */

h1, h2 {
    margin: 20px 0px;
    color: var(--fonte-escura);
}

a:link {
    color: var(--fonte-clara);
    text-decoration: none;
}

a:visited {
    color: var(--fonte-clara);
}

a:hover {
    color: var(--enfase);
}

.titulo {
    text-align: center;
    font-size: 2.5rem;
}

.assuntos {
    margin-left: 12px;
}

.material {
    text-align: end;
}

.rodape {
    text-align: center;
    margin-top: 50px;
}


/* Conteudos */

.botao {
    background-color: var(--fonte-escura);
    width: 100px;
    margin-top: 50px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.botao p {
    color: #390505;
    font-weight: 500;
}

.botao:hover {
    background-color: var(--enfase);
}


/* Exemplos DOM */

.conteiner-exemplos {
    display: grid;
    grid-template-columns: 350px 350px;
    width: 700px;
}

.conteiner-mensagem {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
    margin: 0px auto;
}

.conteiner-calculadora {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
    margin: 0px auto;
}

.item {
    width: 100%;
}

.label {
    margin-bottom: 0px;
    font-weight: 500;
    margin-bottom: 2px;
}

.campo {
    padding: 10px 5px;
    margin-bottom: 12px;
    border-radius: 5px;
    border: none;
}

.saida {
    height: 40px;
    margin-top: 0px;
    margin-bottom: 12px;
    color: #000;
    background-color: var(--fonte-clara);
    padding: 10px 5px;
    border-radius: 5px;
}

#btn-mensagem, 
#btn-calcular,
#btn-limpar {
    margin-top: 12px;
    margin-bottom: 12px;
}

#lista {
    margin-left: 12px;
}